
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}
.bg-light{
 background-color: rgba(255, 144, 14, 0.1);
}

.text-gray{
  color:#424242;
}
.text-light-gray{
  color: #727272;
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
.primary-btn{
  color: white;
  background-color:#FF900E ;
  border: none;
  border-radius: 8px;
  font-weight:600px;
  font-size: 20px;
  cursor: pointer;
}

main{
  max-width: 1200px;
  margin: 0 auto;
}

/* header styles */

/* navbar related styles */
.navbar{
  justify-content: space-between;
  align-items: center
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
}
.navbar,.banner{
  max-width: 1200px;
  margin: 0 auto;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}

/* banner styles */
.banner-image{
  max-width: 100%;
  margin-top: 25px;
}
.banner-button{
  padding: 20px 25px;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  font-weight: bold;
  font-size: 4rem;
}
/*team and feature styles  */
.teams{
  display: flex;

  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
  max-width: 100%;
}
.our-features{
  margin-left:100px ;
  max-width: 500px;
}
#quick-list{
  font-weight:400 ;
  font-size: 2.8rem;
  color: #727272;
}
#our{
  font-size: 45px;
}
#feature{
  font-size: 45px;
  color: #FF900E;
}
.feature-button{
  
  padding: 15px 20px;
}
/* feature related styles */
.features{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 120px;
  margin-top: 30px;
}
#feature-section-title{
  border-left: 5px solid orange;
  padding-left:10px ;
}
.feature-card .feature-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 20px;
  border-radius: 8px;
  
}
.feature-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}
#experience-year{
  font-size: 2.8rem;
  font-weight:700;
}
.featured-architect img{
  width: 100%;
}

/* facts related styles */

.fact{
  border: 1px solid orange;
  border-radius: 8px;
  padding-top: 25px;
  width: 240px;
  height: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.fact-number{
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 50px;
  max-width: 1200px;
}
.fact-description{
  max-width: 700px;
}

/* sponsor related styles */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 50px;
}
.sponsor-companies img{
  filter: grayscale(100%);
}

/* footer styles */
.footer-content{
  margin-top: 40px;
  max-width: 1200px;
  background-color: #FFF4E7;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}

/*responsive media query */
@media screen and (max-width:576px) {
  .navbar,.media-links,.nav-links,.teams{
    flex-direction: column;
  }

  .team-img-container,.facts-container,.sponsor-companies,.features{
    grid-template-columns: repeat(1,1fr);
  }
  .facts-container{
    justify-items: center;
  }
  .our-features{
    margin-left: 20px;
    
  }
  
  .sponsor-companies{
    justify-items: center;
  }
  .features{
    width: 100%;
  }
  #experience-badge{
    margin-top: 20px;
    margin-left: 25px;
  }
  

}

/*responsive layout for medium device   */

@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction: column;
    max-width: 100%;
  }
  .our-features{
    margin: 50px auto;
  }
  .facts-container{
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
  }
  .sponsor-companies{
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
  }
  .footer-content{
    width: 100%;
    justify-items: center;
  }
}